.pline{
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    padding: 2px;
    width: 320px;
    font-size: 10px;
    text-align: center;
}

.pline2{
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    padding: 2px;
    width: 320px;
    font-size: 10px;
}